<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Edit product</h1>
  </div>
</div>

<div class="row">
  <div id="signin" class="col-sm-6 col-sm-offset-3">
    <%= bootstrap_form_for(@product) do |f| %>
      <%= f.text_field :brand%>
      <%= f.text_field :product_name%>
      <%= f.text_field :size%>
      <%= f.text_field :avg_price%>
      <%= f.date_field :date_first_use%>
      <%= f.date_field :date_expired%>
      <%= f.check_box :like_or_not, label: 'Like?'%>
      <%= f.text_area :review%>
      <%= f.submit 'Make changes', :class => 'btn btn-primary btn-lg btn-block'%>
    <% end %>
  </div>
</div>