<h1> <%=@product.name%> info page</h1>
<h2>Brand: <%=@product.brand%></h2>
<h4>SKU: <%=@product.sku%></h4>
<p> This product name is: <%=@product.name%>. Product volume is <%=@product.volume%> fl. oz.</p>

<%= link_to 'Back to product list', products_path%>